In [1]:
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from bs4 import BeautifulSoup as bs
from datetime import datetime, timedelta
import time
import pandas as pd
import re
import zipfile
import os
import requests
from tqdm import tqdm

In [187]:
url_base = 'https://www.koreabaseball.com/Record/Player/{category}'
category_list = ['HitterBasic/Basic1.aspx']
category_list_3 = ['HitterBasic/Detail1.aspx']
driver = webdriver.Chrome()
driver.implicitly_wait(3)

In [188]:
for category in category_list_3:
    url = url_base.format(category=category)
driver.get(url)
driver.maximize_window()

In [17]:
driver.find_elements_by_class_name('select02')[1].text

' 팀 선택\n 두산\n 롯데\n 삼성\n 키움\n 한화\n KIA\n KT\n LG\n NC\n SSG'

In [21]:
team_l =['','OB','LT','SS','WO','HH','HT','KT','LG','NC','SK']

In [175]:
from tqdm import tqdm
baseball_data = []
for category in category_list:
    url = url_base.format(category = category)
    driver.get(url)
    driver.maximize_window()
    team_l =['OB','LT','SS','WO','HH','HT','KT','LG','NC','SK','']    
    category_data_list = []
    for team in tqdm(team_l):
        driver.find_elements_by_class_name('select02')[1].click()
        xpath_format = '//option[@value="{team}"]'
        driver.find_element_by_xpath(xpath_format.format(team = team)).click()
        
        time.sleep(0.1)
        temp_list = [x.split(' ') for x in driver.find_element_by_tag_name('table').text.split('\n')]
        temp_data = pd.DataFrame(columns = temp_list[0])
        
        for i,temp in enumerate(temp_list[1:]):
            temp_data.loc[i] = temp
            time.sleep(0.5)
        category_data_list.append(temp_data)
        time.sleep(0.1)
        time.sleep(1)
    basic_1 = pd.concat(category_data_list)
    baseball_data.append(basic_1)

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [03:05<00:00, 16.88s/it]

In [176]:
category_list_2 = ['HitterBasic/Basic2.aspx']
from tqdm import tqdm
baseball_data = []
for category in category_list_2:
    url = url_base.format(category = category)
    driver.get(url)
    driver.maximize_window()
    team_l =['OB','LT','SS','WO','HH','HT','KT','LG','NC','SK','']    
    category_data_list = []
    for team in tqdm(team_l):
        driver.find_elements_by_class_name('select02')[1].click()
        xpath_format = '//option[@value="{team}"]'
        driver.find_element_by_xpath(xpath_format.format(team = team)).click()
        
        time.sleep(0.1)
        temp_list = [x.split(' ') for x in driver.find_element_by_tag_name('table').text.split('\n')]
        temp_data = pd.DataFrame(columns = temp_list[0])
        
        for i,temp in enumerate(temp_list[1:]):
            temp_data.loc[i] = temp
            time.sleep(0.5)
        category_data_list.append(temp_data)
        time.sleep(0.1)
        time.sleep(1)
    basic_2 = pd.concat(category_data_list)
    baseball_data.append(basic_2)

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [03:05<00:00, 16.86s/it]

In [209]:
basic_1.to_csv('basic1.csv', index=False )
basic_2.to_csv('basic2.csv', index=False )

In [210]:
basic1= pd.read_csv('basic1.csv')
basic2= pd.read_csv('basic2.csv')

In [212]:
basic1 = basic1.drop([i for i in range(30)],axis=0)
basic2 =basic2.drop([i for i in range(30)],axis=0)
basic = pd.merge(basic1,basic2,on=['선수명','순위','팀명','AVG'],how='left')

In [213]:
basic.to_csv('basic.csv',index=False)

In [216]:
basic

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김태근,두산,0.500,2,6,4,0,2,1,...,0,1,1,0,0.750,0.667,1.417,0,1.000,0.0
1,2,강현구,두산,0.333,3,5,3,0,1,0,...,0,1,0,0,0.333,0.600,0.933,0,0.000,0.0
2,2,송승환,두산,0.333,7,21,21,3,7,1,...,0,0,4,0,0.524,0.333,0.857,1,0.222,1.0
3,2,전민재,두산,0.333,8,3,3,4,1,0,...,0,0,2,0,0.333,0.333,0.666,0,0.000,0.0
4,5,페르난데스,두산,0.316,99,431,393,47,124,19,...,0,2,39,25,0.410,0.367,0.777,36,0.330,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,24,김재현,SSG,0.000,7,2,2,0,0,0,...,0,0,1,0,0.000,0.000,0.000,0,0.000,0.0
291,24,김택형,SSG,-,1,0,0,0,0,0,...,0,0,0,0,-,-,-,0,0.000,0.0
292,24,박민호,SSG,-,1,0,0,0,0,0,...,0,0,0,0,-,-,-,0,0.000,0.0
293,24,서동민,SSG,-,1,0,0,0,0,0,...,0,0,0,0,-,-,-,0,0.000,0.0
294,24,이정범,SSG,0.000,1,2,2,0,0,0,...,0,0,1,0,0.000,0.000,0.000,0,0.000,0.0

In [215]:
basic_2

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,피렐라,삼성,0.339,40,9,11,55,13,0.548,0.413,0.961,39,0.351,0.000
1,2,이정후,키움,0.337,51,11,5,25,8,0.569,0.415,0.984,40,0.381,0.000
2,3,나성범,KIA,0.325,45,3,15,99,5,0.533,0.409,0.942,39,0.321,0.000
3,4,이대호,롯데,0.324,26,4,1,46,14,0.472,0.364,0.836,39,0.278,0.000
4,5,소크라테스,KIA,0.324,22,4,2,56,7,0.520,0.365,0.885,35,0.301,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,24,김재현,SSG,0.000,0,0,0,1,0,0.000,0.000,0.000,0,0.000,0.000
26,24,김택형,SSG,-,0,0,0,0,0,-,-,-,0,0.000,0.000
27,24,박민호,SSG,-,0,0,0,0,0,-,-,-,0,0.000,0.000
28,24,서동민,SSG,-,0,0,0,0,0,-,-,-,0,0.000,0.000
29,24,이정범,SSG,0.000,0,0,0,1,0,0.000,0.000,0.000,0,0.000,0.000